* {
    box-sizing: border-box;
	background: #E8E8E8;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.logo {
	max-height: 10%;
	max-width: 10%;
}

.bg-pic {
	max-height: 40%;
	max-width: 40%;
	float: left;
}
.main {
	float: right;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 74%;
	line-height: 50px;
	border: 3px solid #E8E8E8;
	padding-top: 15%;
}

button {
    background-color: #D3D3D3; 
    border: none;
    color: #4e697d;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
	font-weight: bold;
}

body {
    height: 100%;
    width: 100%;
    background-color: linear-gradient(180deg, var(--gpStoreDarkGrey) 0%, var(--gpStoreDarkerGrey) 80%);
}
h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    color: #4e697d;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #7A93A6;
}

h4 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #4e697d;
}

p {
    font-size: 18px;
    color: #A7BACC;
}

img {
    width: 100%;
}

#footer {
    text-align: center;
    color: #4e697d;
	padding-top: 250px
}
