@media (min-width: 992px) and (max-width: 1199.98px) {
	background: #E8E8E8;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', Verdana, Helvetica, sans-serif;
}

.pfp {
	max-height: 200px;
	max-width: 200px;
}

main {
	float: left;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	width: 100%;
	line-height: 50px;
	padding-top: 0%;
}

.user {
	width: 85%;
	height: 100%;
	display: grid;
	float: left;
}

.userdetails {
	display: flex;
	padding: 30px;
}

.name-bio {
	padding-left: 3%;
	line-height: 30px;
}

.container {
	background: linear-gradient(to bottom left, #6f6775ef,#1b1922ef);
}

.grid-container {
	background: linear-gradient(to bottom left, #6f6775ef,#1b1922ef);
	height: 500px;
	display: grid;
	grid-template-columns: auto auto;
	gap: 30px;

	padding: 30px;
}

.grid-container > div {
	background-color: #d9d9d9;
	line-height: 175%;
	text-align: left;
}

.item1 {
	padding: 30px;
	padding-right: 0px;
	grid-column-start: 1;
	grid-column-end: 2;
}

.item2 {
	padding: 30px;
	grid-column-start: 2;
	grid-column-end: 3;
}

.item3 {
	padding: 30px;
	padding-right: 0px;
	grid-column-start: 1;
	grid-column-end: 2;
}

.item4 {
	padding: 30px;
	grid-column-start: 2;
	grid-column-end: 3;
}

.item1, .item2, .item3, .item4 li {
	font-size: 18px;
	color: #233c4ed5;
}

.friends-game-library {
	width: 15%;
	float: right;
	display: grid;
	gap: 10px;
}

.friends-list {
	padding: 15px;
	background: #d9d9d9;
	width: 100%;
	height: 350px;
	line-height: 200%;
	border: 2px #E8E8E8;
}

.friends-list, .friends-game-library h1 {
	color: #4e697d;
	padding-bottom: 3%;
}

.friends-list, .friends-game-library li {
	font-size: 18px;
	color: #233c4ed5;
}

.game-library {
	padding: 15px;
	background: #d9d9d9;
	width: 100%;
	height: 350px;
	line-height: 200%;
	border: 2px #E8E8E8;
}

.GameQuery {
	width: 85%;
	float: left;
	gap: 10px;
	line-height: 175%;
}

.leftdivision
{
    float: left;
	padding-left: 25px;
	padding-top: 15px;
}
   
.middledivision
{
    float: left;
	padding-left: 35px;
	padding-top: 15px;
}

.rightdivision
{
    float: left;
	padding-left: 35px;
	padding-top: 15px;
}

.databox {
	padding-left: 25px;
	padding-top: 55px;
}

.box{ 
    width: 116%; 
    height: 200px; 
    border: 2px #E8E8E8; 
	background: #d9d9d9;
} 
		
/* Navbar container */
.navbar {
  overflow: auto;
  background-color: #333;
  font-family: inherit;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 18px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 18px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
	background-color: rgb(191, 28, 28);
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

html {
    height: 100%;
    width: 100%;
	overflow: scroll;
}

h1 {
    font-family: 'Trebuchet MS', Verdana, Helvetica, sans-serif;
    font-size: 30px;
    color:#e8e7ef;
	padding-bottom: 1.5%;
}

h1.userstats {
	padding-left: 25px;
	/* text-align: center; */
}

h1.userdatasearch {
	padding-left: 25px;
}

/* May or may not need */
/* h1.centerText {
	text-align: center;
} */

h2 {
    font-family: 'Trebuchet MS', Verdana, Helvetica, sans-serif;
    font-size: 22px;
    color: #7A93A6;
}

h4 {
    font-family: 'Trebuchet MS', Verdana, Helvetica, sans-serif;
    font-size: 18px;
    color: #4e697d;
}

p {
    font-size: 18px;
	color: #bfd3e6;
}

p.datahere {
	padding: 30px;
}

ol, ul {
	list-style-position: inside;
}

img {
    max-width: 100%;
	min-width: 100px;
	height: auto;
}

footer p {
	font-size: 20px;
    text-align: center;
    color: #4e697d;
}

@media screen and (max-width: 400px) {
	
	.grid-container {
		display: table-column;
		height: auto;
	}
	
	.item1 {
		position: relative;
		width: 100%;
	}
	
	.item2 {
		position: relative;
		top: 20px;
	}
	
	.item3 {
		position: relative;
		top: 35px;
	}
	
	.item4 {
		position: relative;
		top: 45px;
	}
	
	p {
		font-size: .8em;
	}
	
	h1 {
		font-size: 1.3em;
		height: 25px;
	}
	
	#img2 {
		min-width: 140px;
		height: 80%;
	}
	
	.userdetails {
		padding: 20px;
	}
	
	html {
		height: 100%;
		width: auto;
		max-width: 100%;
		overflow: scroll;
		background-color: #E8E8E8;
		
	}
	
	.friends-game-library {
		display: table-column;
		width: 95%;
		position: relative;
		height: auto;
		top: 40px;
		
	}
	
	.friends-list {
		width: 90%;
		position: relative;
		height: auto;
		left: 10px;
	}
	
	.game-library {
		width: 90%;
		left: 10px;
		height: auto;
		position: relative;
		top: 10px;
	}
	
	.user {
		width: auto;
		height: auto;
	}
	
	.container {
		max-width: 100%;
		margin: 0px;

	}
	
	main {
		height: auto;
		max-height: 100%;
	}
	
	.box {
		width:100%;
	}
	
	.databox {
		width: 100%;
	}
	
	.GameQuery {
		position: relative;
		height: auto;
		top: 30px;
	}
	
	footer {
		position: relative;
		padding-top: 50px;
	}
	
	.userstats {
		line-height: 0px;
	}
}
