/* File name: webstyleContact.css */

@media (min-width: 992px) and (max-width: 1920px) {
	background: #E8E8E8;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', Verdana, Helvetica, sans-serif;
}

nav {
	height: 140px;
	width: 100%;
	background: linear-gradient(to bottom right, #413e49ef,#110f16ef);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1.5%;
}

navbar {
	justify-content: flex-end;
}

/* Add a background color and some padding around the form */
.container {
	background: linear-gradient(to bottom left, #6f6775ef,#1b1922ef);
	display: flex;
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 20px;
}

.container form {
  padding: 2%;
}

.container label {
  font-family: 'Trebuchet MS', Verdana, Helvetica, sans-serif;
  font-size: 22px;
  color: #f1f0fb;
  padding: 1%;
}

.logo {
	padding-bottom: 7.5%;
	max-height: 12%;
	max-width: 12%;
  opacity: 70%;
	justify-content: flex-start;
}

.main {
	float: left;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	line-height: 50px;
	padding-top: 0%;
}

a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

a:hover, .dropdown:hover .dropbtn {
  background-color: rgb(191, 28, 28);
}

.dropdown {
  display: inline-block;
}

/* Navbar container */
.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: 'Trebuchet MS', Verdana, Helvetica, sans-serif;
}

/* Links inside the navbar */
.navbar a {
  font-family: inherit;
  float: left;
  font-size: 18px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 18px;
  border: none;
  outline: none;
  color: rgb(235, 229, 251);
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: rgb(191, 28, 28);
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #d7d6d6;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: rgb(26, 26, 26);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #c7bfcc;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

html, body {
    height: fit-content;
    width: 100%;
	  overflow: auto;
    background-color: linear-gradient(180deg, var(--gpStoreDarkGrey) 0%, var(--gpStoreDarkerGrey) 80%);
}

img {
  max-width: 100%;
  min-width: 100px;
  height:auto;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  font-size: 18px;
  font-family: 'Trebuchet MS', Verdana, Helvetica, sans-serif;
  width: 100%; /* Full width */
  padding: 10px; /* Some padding */ 
  padding-top: 14px;
  border: 1px solid #bfb7ca; /* Gray border */
  border-radius: 3px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 10px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  font-size: 18px;
  font-family: 'Trebuchet MS', Verdana, Helvetica, sans-serif;
  background-color: #049e65;
  color: rgb(240, 236, 245);
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #53c97c;
}

footer p {
    font-size: 20px;
    text-align: center;
    color: #477aa4;
}