/* File name: webstyleInfo.css */

@media (min-width: 992px) and (max-width: 1920px) {
	background: #E8E8E8;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', Verdana, Helvetica, sans-serif;
}

nav {
	height: 140px;
	width: 100%;
	background: #2b2734ef;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1.5%;
}

.searchbar {
	justify-content: flex-end;
}

navbar {
	justify-content: flex-end;
}

.container {
	background: #625c66ef;
	display: flex;
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 10px;
}

.logo {
  padding-bottom: 7.5%;
	max-height: 12%;
	max-width: 12%;
	justify-content: flex-start;
}

.pfp {
	max-height: 200px;
	max-width: 200px;
}

.main {
	float: left;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	line-height: 50px;
	padding-top: 0%;
}

.About {
	width: 85%;
	display: grid;
	float: left;
  padding-top: 3%;
  padding-left: 7%;
	line-height: 44px;
}

.info {
	width: 85%;
	display: grid;
	float: center;
	padding-left: 5%;
	padding-top: 2%;
	line-height: 35px;
}

.row {
  padding-left: 3%;
}

.column {
  float: left;
  padding-left: 5%;
  width: 45%;
  padding: 1%;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.grid-container {
	height: 500px;
	display: grid;
	grid-template-columns: auto auto;
	gap: 30px;
	background: #625c66ef;
	padding: 30px;
}

.grid-container > div {
	background: #625c66ef;
	line-height: 175%;
	text-align: left;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

li.dropdown {
  display: inline-block;
}

/* Navbar container */
.navbar {
  overflow: auto;
  background-color: #2722240f;
  font-family: 'Trebuchet MS', Verdana, Helvetica, sans-serif;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 18px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: auto;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 18px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: rgb(191, 28, 28);
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

html, body {
    height: fit-content;
    width: 100%;
	  overflow: auto;
    background-color: linear-gradient(180deg, var(--gpStoreDarkGrey) 0%, var(--gpStoreDarkerGrey) 80%);
}

h1 {
    font-family: 'Trebuchet MS', Verdana, Helvetica, sans-serif;
    font-size: 48px;
    color: #e8e7ef;
}

h1.About {
  padding-right: 5%
}

h1.userstats {
	padding-left: 25px;
}

h2 {
    font-family: 'Trebuchet MS', Verdana, Helvetica, sans-serif;
    font-size: 20px;
    color: #e3e2f3;
    padding-top: 2%;
    padding-bottom: 3.5%;
}

h4 {
    font-family: 'Trebuchet MS', Verdana, Helvetica, sans-serif;
    font-size: 15px;
    color: #4e697d;
}

p {
    font-size: 18px;
    color: #e3e2f3;
}

ol, ul {
	list-style-position: inside;
}

img {
    width: 100%;
}

footer {
  padding-top: 10%;
  float: inline;
  text-align: center;
  color: #4e697d;
}
