<!doctype html>
<html lang="en-US">
	<head>
	 <link href="stylesheets/webstyleInfo.css" rel="stylesheet" type="text/css">
	 <meta charset="utf-8" />
	 <meta name="viewport" content="width=device-width" />
	 
	 <title>About Us</title>
	</head>	
	
	<body>
		<nav>
			<div class="logo"><img src="GK_logo.png" alt="GameKit Logo"></div>
			<!-- need to implement Navigation tool & Acc settings -->
			<div class="navbar">
			  <a href="Wire Frame 2.html">Your Profile</a>
			  <div class="dropdown">
				<button class="dropbtn">Dropdown
				  <i class="fa fa-caret-down"></i>
				</button>
				<div class="dropdown-content">
					<a href="Search_Page_Data.html">Search For Data</a>
					<a href="Search_Page_Account.html">Search For Accounts</a>
					<a href="Contact_Us.html">Contact Us</a>
					<a href="#LogOut">Log Out</a>
				</div>
			  </div>
			</div>
		</nav>
		<div class="container">
			<main>
			<div class="About">
			<h1>About Us</h1>
				<div class="info">
					<h2>We are passionate gamers who love playing video games and sharing our accomplishments with other gamers. 
					One day one of our friends noticed that there were no places where we could search for any data specific to our 
					account so we came up with an idea. We want to create a platform where we can search for specific data on the 
					games we play. Game Kit allows us to do that, with the help of various Steam APIs we successfully create a site 
					where gamers can look for their data, as well as data from their friends or any public accounts. We hope that 
					Game Kit can be a useful tool for gamers and help grow the community of people who love playing video games 
					whether it be casual or competitive players.</h2>
				</div>
				<div class="row">
					<div class="column">
						<img src="controllers.jpg" alt="Controllers">
					</div>
					<div class="column">
						<img src="personGaming.jpg" alt="Person Playing Minecraft">
						</div>
				</div>
			</div>
			</main>
		</div>
		<footer>
			<p>Copyright 2024 GameKit & Co.</p>
		</footer>
	</body>
</html>
