<!DOCTYPE html>
<html lang="en">
<head>
    <link href="stylesheets/textAndColor.css" rel="stylesheet" type="text/css">
    <meta charset="UTF-8">
    <title>Login Page</title>
</head>
<body>
	<nav>
		<div class="logo"><img src="GK_logo.png" alt="GameKit Logo"></div>
	</nav>
	<div class="container">
		<div class="bg-pic"><img src="bgCropped.jpeg" alt="Gaming Background"></div>
		<section class="main">
			<h1>Welcome to Game Kit!</h1>
			<h2>Log in to Game Kit</h2>
			<a href="steam_login_redirect.html">
				<button>Continue with STEAM</button>
			</a>
			<div id="footer">
			<footer>
				<h4> Copyright 2024 GameKit & Co. </h4>
			</footer>
		</div>
		</section>
	</div>

</body>
</html>
