<!DOCTYPE html>
<html lang="en">
<head>
    <link href="stylesheets/textAndColor.css" rel="stylesheet" type="text/css">
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Page</title>
</head>
<body>
	<nav>
		<div class="logo"><img id="img1" src="images/GK_logo.png" alt="GameKit Logo"></div>
	</nav>
	<div class="container">
		<div class="bg-pic">
			<picture>
					<source media = "(min-width:450px)" srcset= "images/bgCropped.jpeg">
					<img id="img2" src="images/gamingBackgroundFull.jpeg" alt="Gaming Background">
			</picture>
		</div>
		<section class="main">
			<h1>Welcome to Game Kit!</h1>
			<h2>Log in to Game Kit</h2>
			<a href="steam_login_redirect.html">
				<button>Continue with STEAM</button>
			</a>
		</section>
	</div>
	<footer>
		<h4> Copyright 2024 GameKit & Co. </h4>
	</footer>

</body>
</html>
