<!doctype html>
<html lang="en-US">
	<head>
	 <meta charset="utf-8" />
	 <meta name="viewport" content="width=device-width" />
	 
	 <title>wireframe2</title>
	</head>	
	
	<body>
	
		<header>
		 <p>Navigation tool</p>
		 <form>
		  <p>This is where the search bar will go</p>
		 </form>
		 <p>Account settings</p>
		</header>
		<main>
		 
		 <p>Replace with user pfp</p>
		 
		 <h1>Username</h1>
		 <div>
		 <p>User bio</p>
		 </div>
		 <h1>Page of other private profile</h1>
		 <div>
			<p>This Profile is Private</p>
			<p>No Data Available</p>
		 </div>
		<aside>
			<h1>Friends List</h1>
			<div>
			 <p>This Profile is Private</p>
			 <p>No Data Available</p>
			</div>
			<h1>Game Library</h1>
			<div>
			 <p>This Profile is Private</p>
			 <p>No Data Available</p>
			</div>
		</aside>
		</main>
		<footer>
		<p>Copyright 2024 GameKit & Co.</p>
		</footer>
	</body>
</html>
