<!doctype html>
<html lang="en-US">
	<head>
	 <meta charset="utf-8" />
	 <meta name="viewport" content="width=device-width" />
	 
	 <title>wireframe2</title>
	</head>	
	
	<body>
	
		<header>
		 <p>Navigation tool</p>
		 <form>
		  <p>This is where the search bar will go</p>
		 </form>
		 <p>Account settings</p>
		</header>
		<main>
		 
		 <p>Replace with user pfp</p>
		 
		 <h1>Username</h1>
		 <div>
		 <p>User bio</p>
		 </div>
		 <h1>User Stats</h1>
		 <div>
			<p>Most Played Games</p>
			<ol>
				<li>Terraria</li>
				<li>Ark Survival Evolved</li>
				<li>The Elder Scrolls V: Skyrim</li>
			</ol>
		 </div>
		 <div>
			<p>Favorite Games</p>
			<ol>
				<li>The Elder Scrolls V: Skyrim</li>
				<li>Apex Legends</li>
				<li>Fallout: New Vegas</li>
			</ol>
		 </div>
		 <div>
			<p>Rarest Achievements</p>
			<ol>
				<li>Achievement</li>
				<li>Achievement</li>
				<li>Achievement</li>
			</ol>
		 </div>
		 <div>
			<p>items for Sell/Trade</p>
			<ul>
				<li>Item 1</li>
				<li>Item 2</li>
				<li>Item 3</li>
			</ul>
		 </div>
		<aside>
			<h1>Friends List</h1>
			<div>
			 <ul>
			  <li>Friend 1</li>
			  <li>Friend 2</li>
			  <li>Friend 3</li>
			 </ul>
			</div>
			<h1>Game Library</h1>
			<div>
			 <ul>
			  <li>Game 1</li>
			  <li>Game 2</li>
			  <li>Game 3</li>
			 </ul>
			</div>
		</aside>
		</main>
		<footer>
		<p>Copyright 2024 GameKit & Co.</p>
		</footer>
	</body>
</html>
