<!doctype html>
<html lang="en-US">
	<head>
	 <link href="stylesheets/textAndColor.css" rel="stylesheet" type="text/css">	
	 <link href="stylesheets/webstyle1.css" rel="stylesheet" type="text/css">
	 <meta charset="utf-8" />
	 <meta name="viewport" content="width=device-width" />
	 
	 <title>wireframe5</title>
	</head>	
	
	<body>
		<nav>
			<div class="logo"><img src="images/GK_logo.png" alt="GameKit Logo"></div>
			<div class="navbar">
			  <a href="Wire Frame 2.html">Your Profile</a>
			  <div class="dropdown">
				<button class="dropbtn">Dropdown
				  <i class="fa fa-caret-down"></i>
				</button>
				<div class="dropdown-content">
					<a href="Search_Page_Data.html">Search For Data</a>
					<a href="Search_Page_Account.html">Search For Accounts</a>
					<a href="About_Us.html">About Us</a>
					<a href="Contact_Us.html">Contact Us</a>
					<a href="#LogOut">Log Out</a>
				</div>
			  </div>
			</div>
		</nav>
		<div class="container">
			<main>
			<div class="user">
				<div class="userdetails">
					<p><div class="pfp"><img src="images/cloverPFP.jpg" alt="User's Profile Pic"></div></p>
					<div class="name-bio">
						<h1>Lucky777</h1>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
						</div>
				</div>
				<h1 class="userstats">User Stats of other public profile</h1>
				<div class="grid-container">
					<div class="item1">
						<h2>Rarest Achievements</h2>
						<ol>
							<li>Achievement</li>
							<li>Achievement</li>
							<li>Achievement</li>
						</ol>
					</div>
					<div class="item2">
						<h2>Game Reviews</h2>
					</div>
					<div class="item3">
						<h2>Best Screenshots</h2>
				</div>
				</div>
			</div>
			<div class="friends-game-library">
				<div class="friends-list">
					<h1>Friends List</h1>
					<div>
					 <ul>
					  <li>Friend 1</li>
					  <li>Friend 2</li>
					  <li>Friend 3</li>
					 </ul>
					</div>
				</div>
				<div class="game-library">
					<h1>Game Library</h1>
					<div>
					 <ul>
					  <li>Game 1</li>
					  <li>Game 2</li>
					  <li>Game 3</li>
					 </ul>
					</div>
				</div>
			</div>
			</main>
		</div>
		<footer>
			<p>Copyright 2024 GameKit & Co.</p>
		</footer>
	</body>
</html>
