<!DOCTYPE html>
<html lang="en">
<head>
	<link href="stylesheets/webstyleSearch.css" rel="stylesheet" type="text/css">
    <meta charset="UTF-8">
    <title>Data Search Page</title>
    <script src="https://kit.fontawesome.com/b353a8d556.js" crossorigin="anonymous"></script>

</head>
<body>
    <nav>
		<div class="logo"><img src="GK_logo.png" alt="GameKit Logo"></div>
		<!-- need to implement Navigation tool & Acc settings -->
		<div class="navbar">
		  <a href="Wire Frame 2.html">Your Profile</a>
			  <div class="dropdown">
				<button class="dropbtn">Dropdown
				  <i class="fa fa-caret-down"></i>
				</button>
				<div class="dropdown-content">
					<a href="Search_Page_Account.html">Search For Accounts</a>
					<a href="About_Us.html">About Us</a>
					<a href="Contact_Us.html">Contact Us</a>
					<a href="#LogOut">Log Out</a>
				</div>
			  </div>
		</div>
	</nav>

    <div class="container">
			<main>
			<div class="search-box">
			<h1>What data are you looking for?</h1>
				<div class="searchbar">	
					<input type="text" placeholder="Example: What is my total playtime for Stardew Valley?">
				</div>
			</div>
			<!-- not sure if I wanna keep this or not -->
			<div class="player-search">
				
			</div>
			<div class="developer-search">
				
			</div>
			</main>
		</div>
		<footer>
			<p>Copyright 2024 GameKit & Co.</p>
		</footer>
    
</body>
</html>